@model asp.net.Students.Areas.Auth.Models.LoginForm

@{

}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <div class="mt-3">
                        <label asp-for="Login" class="form-label"></label>
                        <input asp-for="Login" class="form-control"/>
                        <span class="text-danger">@Html.ValidationMessageFor(x=>x.Login)</span>
                    </div>
                    <div class="mt-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input type="password" asp-for="Password" class="form-control"/>
                        <span class="text-danger">@Html.ValidationMessageFor(x=>x.Password)</span>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success">Log in</button>
                    <a class="btn btn-primary" asp-area="Auth" asp-controller="Account" asp-action="Register">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>
